@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html {
  box-sizing: border-box;
  font-size: 20px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Abel", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url(https://previews.123rf.com/images/mousemd/mousemd1602/mousemd160200121/53122766-colores-sin-fisuras-patr%C3%B3n-de-mascotas-en-un-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg);
}
